* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border-radius: 0;
  padding: 0.7rem 2.5rem;
  background-color: #FF5202;
  border: 2px solid black;
  position: relative;
  cursor: pointer;
}
button:after {
  content: "";
  border: 2px solid black;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fdf6eb;
  top: 0.5rem;
  left: 0.5rem;
  z-index: -1;
}
button:active {
  top: 0.5rem;
  left: 0.5rem;
}
button:active:after {
  top: 0;
  left: 0;
}

body {
  z-index: -3;
  position: relative;
  background-color: #fdf6eb;
  font-family: "Lemon/Milk", sans-serif;
  margin: 0;
}
body nav {
  position: relative;
  background-color: #fdf6eb;
  display: flex;
  justify-content: space-between;
  padding: 2rem 2 rem 0.5rem 2rem;
  border-bottom: 2px solid black;
}
body nav .logoWrapper {
  display: flex;
  align-items: center;
  z-index: 2;
}
body nav .logoWrapper img {
  width: 2rem;
  height: 2rem;
  margin: 0.7rem;
}
body nav .logoWrapper h1 {
  font-size: 1.2rem;
}
body nav .logoWrapper:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: -1;
  box-sizing: border-box;
  background-color: #fdf6eb;
}
body nav .burgerWrapper {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 0.7rem;
}
body nav .burgerWrapper label {
  z-index: 2;
  right: 0;
  margin-right: 0.7rem;
  width: 2rem;
  height: 2rem;
  position: absolute;
  cursor: pointer;
}
body nav .burgerWrapper label > div {
  transition: 0.5;
  height: 6px;
  background-color: #000;
  position: absolute;
  width: 100%;
}
body nav .burgerWrapper label > div:nth-child(2) {
  top: calc(1rem - 3px);
}
body nav .burgerWrapper label > div:nth-child(3) {
  bottom: 0;
  display: flex;
  background-color: transparent;
  justify-content: space-between;
}
body nav .burgerWrapper label > div:nth-child(3) div:nth-child(1) {
  background-color: #000;
  width: 60%;
}
body nav .burgerWrapper label > div:nth-child(3) div:nth-child(2) {
  width: 20%;
  background-color: #FF5202;
}
body nav .burgerWrapper input {
  display: none;
}
body nav .burgerWrapper ol {
  z-index: -1;
  margin: 0;
  background-color: #fdf6eb;
  position: absolute;
  top: -100vh;
  transition: 0.5s;
  display: flex;
  flex-direction: column;
  right: -0.7rem;
  padding: 20px 10px;
  list-style: none;
  width: 100vw;
}
body nav .burgerWrapper #toggler:checked ~ ol {
  top: 100%;
}
body nav .burgerWrapper #toggler:checked ~ label > div {
  transition: 0.5;
  top: calc(1rem - 3px);
}
body nav .burgerWrapper #toggler:checked ~ label > div:nth-child(1) {
  transform: rotate(45deg);
}
body nav .burgerWrapper #toggler:checked ~ label > div:nth-child(2) {
  opacity: 0;
}
body nav .burgerWrapper #toggler:checked ~ label > div:nth-child(3) {
  transform: rotate(-45deg);
}
body nav .buttons {
  display: none;
}
body main {
  position: relative;
  z-index: -2;
}
body main .titleWrapper {
  border-left: 2px solid black;
  margin-left: 2.7rem;
  padding: 2rem 2rem 3rem 1rem;
}
body main .titleWrapper h2 {
  font-size: 2rem;
  margin: 0.5rem 0;
}
body main .titleWrapper p {
  font-family: "Lemon/Milk light", sans-serif;
  margin: 1rem 0;
}
body main .titleWrapper button {
  display: none;
}
body main .titleWrapper b {
  font-size: 2rem;
}
body main .imgContainer {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
body main .imgContainer .imgWrapper {
  background-color: #FF5202;
  margin: 0 2.7rem;
  border-left: 2px solid black;
  border-right: 2px solid black;
}
body main .imgContainer .imgWrapper .img {
  min-height: 80vh;
  background-image: url("../img/man-watch.webp");
  background-size: cover;
  background-position: center;
  border-radius: 50vw;
}
body main .contentContainer {
  margin: 0 2.7rem;
  border-right: 2px solid black;
  border-left: 2px solid black;
  padding: 0 1rem;
}
body main .contentContainer .buttonContainer {
  text-align: center;
  padding: 2.7rem 0;
}
body main .contentContainer .buttonContainer button:before {
  content: "";
  background-image: url("../img/arrow.svg");
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 4rem;
  height: 2rem;
  margin-left: 8rem;
}
body main .contentContainer .imgWrapper .img {
  border: 2px dashed red;
  min-height: 60vh;
  background-image: url(../img/businessman-checking-time.webp);
  background-position: center;
  background-size: cover;
  border: 2px solid black;
}
body main .contentContainer .contentWrapper p {
  text-align: center;
  padding: 2rem 0;
  margin: 0;
  line-height: 2rem;
}
body main .trendingWrapper {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
body main .trendingWrapper .trending {
  background-color: #FFEE01;
  margin: 0 2.7rem;
  border-left: 2px solid black;
  border-right: 2px solid black;
  text-align: center;
  padding: 4rem 0;
  display: flex;
  justify-content: center;
}
body main .trendingWrapper .trending p {
  margin: 0;
  font-size: 1, 5rem;
}

@media (min-width: 1280px) {
  nav {
    padding: 0 3rem !important;
  }
  nav .logoWrapper:before {
    display: none;
  }
  nav .burgerWrapper {
    flex: 1;
    padding: 0 2rem;
    border-left: 2px solid black;
    border-right: 2px solid black;
    font-family: "Lemon/Milk", sans-serif;
    font-size: 0.8rem;
  }
  nav .burgerWrapper ol {
    top: 0 !important;
    position: relative !important;
    z-index: 3 !important;
    width: auto !important;
    right: auto !important;
    flex-direction: row !important;
    flex: 1;
    justify-content: space-evenly;
  }
  nav .burgerWrapper label {
    display: none;
  }
  nav .buttons {
    display: flex !important;
    align-items: center;
  }
  nav .buttons a {
    margin: 1rem;
  }
  nav .logoWrapper,
nav .buttons {
    padding: 2.5rem 2rem;
  }

  main {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    margin: 0 6rem;
    margin-bottom: 6rem;
  }
  main .titleWrapper {
    padding: 3rem 2rem 4rem 2rem !important;
    margin: 0 !important;
    border-bottom: 2px solid black;
  }
  main .titleWrapper h2 {
    font-size: 3rem !important;
  }
  main .titleWrapper h2 img {
    transform: scale(2.4);
    margin-left: 2rem;
  }
  main .titleWrapper p {
    max-width: 70%;
  }
  main .titleWrapper button {
    display: flex !important;
    margin: 2rem 0;
  }
  main .titleWrapper button:before {
    content: "";
    background-image: url("../img/arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 8rem;
    height: 4rem;
    margin-left: 8rem;
  }
  main .imgContainer {
    border: none !important;
  }
  main .imgContainer .imgWrapper {
    height: 100%;
    margin: 0 !important;
  }
  main .imgContainer .imgWrapper .img {
    min-height: 100% !important;
  }
  main .contentContainer {
    margin: 0 !important;
    display: flex;
    padding: 0 !important;
    border-bottom: 2px solid black;
    border-right: none !important;
  }
  main .contentContainer .buttonContainer {
    display: none;
  }
  main .contentContainer .imgWrapper {
    flex: 1;
  }
  main .contentContainer .imgWrapper .img {
    min-height: 100% !important;
    border: none !important;
  }
  main .contentContainer .contentWrapper {
    flex: 3;
    padding: 2rem 3rem;
    font-family: "Lemon/Milk light", sans-serif;
    font-size: 1.5rem;
  }
  main .contentContainer .contentWrapper p {
    text-align: left !important;
  }
  main .trendingWrapper {
    border-top: none !important;
  }
  main .trendingWrapper .trending {
    margin: 0 !important;
    min-height: 100%;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */