$navButtonSize: 2rem;

body {
    background-color: #fdf6eb;
    font-family: 'Lemon/Milk', sans-serif;
    // font-family: 'Lemon/Milk light', sans-serif;
    nav {
        
        border: 2px dashed red;
        display: flex;
        justify-content: space-between;
        
        .logoWrapper {

            
            display: flex;
            align-items: center;
            img {
                width: $navButtonSize;
                height: $navButtonSize;
                margin: .7rem;

            }
            h1 {
                font-size: 1.2rem;
                

            }

        }
     .burgerWrapper{
         display: flex;
         align-items: center;
         position: relative;
         margin-right:.7rem;
         label{
           right:0;
        //    border:2px dashed #000;
           width: $navButtonSize;
           height: $navButtonSize;
           position:absolute;
           cursor:pointer;
           > div{
             $barHeight:6px;
             height:$barHeight;
             background-color: #000;
             position:absolute;
             width:100%;
             &:nth-child(2){
               top: calc($navButtonSize / 2 - $barHeight / 2);
             }
             &:nth-child(3){
               bottom:0;
               display:flex;
               background-color: transparent;
               justify-content:space-between;
               div:nth-child(1){
                 background-color: #000;
                 width:60%;
               }
               div:nth-child(2){
                 width:20%;
                 background-color:orange;
               }
   
             }
   
   
           }
         }
         input {
             display: none;
         }
         ol {
             display: none;
         }
     }   
    }
    
}